@use "vars";

.toggle-menu {
  background-color: var(--white);
  width: 100px;
	height: auto;
  border: 1px solid var(--very-light-pink);
  padding: 20px 20px 0 20px;
  border-radius: 6px;
  position: absolute;
  top: 60px;
  right: 50px;
}
.toggle-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.toggle-menu ul li {
  text-align: end;
}
.toggle-menu ul li:nth-child(1),
.toggle-menu ul li:nth-child(2) {
  font-weight: bold;
}

.toggle-menu ul li:last-child {
  padding-top: 20px;
  border-top: 1px solid var(--very-light-pink);
}
.toggle-menu ul li:last-child a {
  color: var(--hospital-green);
  font-size: var(--sm);
}
.toggle-menu ul li a {
  color: var(--black);
  text-decoration: none;
  margin-bottom: 20px;
  display: inline-block;
}
