@use "vars";

.account {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}
.account-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px;
}
.logo {
  width: 120px;
  justify-self: center;
}
.account-title {
  font-size: var(--lg);
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: start;
}
.form-account {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.form-account div {
  display: flex;
  flex-direction: column;
}
.label {
  font-size: var(--sm);
  font-weight: bold;
  margin-bottom: 4px;
}
.value {
  color: var(--very-light-pink);
  font-size: var(--md);
  margin: 8px 0 32px 0;
}
.account-secondary-button {
  font-family: "Quicksand", sans-serif;
  background-color: var(--white);
  border-color: var(--hospital-green);
  border: solid 1px;
  border-radius: 8px;
  font-size: var(--md);
  font-weight: bold;
  height: 50px;
  color: var(--hospital-green);
  width: 100%;
  cursor: pointer;
}
.account-button {
  margin-top: 14px;
  margin-bottom: 30px;
}
@media (max-width: 640px) {
  .form-account {
    height: 100%;
    justify-content: space-between;
  }
  .account-container {
    height: 80%;
  }
}
