@use 'vars';


.error-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
    justify-items: center;
}
.code {
    display: flex;
    align-items: center;
    color: var(--hospital-green);
}
.code p {
    font-size: 62px;
    font-weight: bold;
}
